<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrecisionGazeMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrecisionGazeMouse.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PrecisionGazeMouse.Properties.Settings>
            <setting name="hello" serializeAs="String">
                <value>world</value>
            </setting>
            <setting name="zoomboxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cursorMagnetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursorMagnetClippingThresholdMm" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="cursorMagnetClippingExitThresholdMm" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="cursorMagnetClippingExitDurationMs" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="cursorMagnetClippingChangeBoxIntoPerc" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cursorMagnetClippingMinBoxWidthMm" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="mouseMovementEyeGazeResumeMilliseconds" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="keyboardEyeGazeResumeMilliseconds" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="zoomboxSticky" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomWindowPctScreen" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="zoomWindowMagnificationPct" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="zoomboxGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomboxZoomAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomboxZoomAgainAfterMs" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="fixationMinDurationMs" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="fixationRadiusClickAndHoldMm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="fixationDurationClickAndHoldZoombox" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="fixationInitTimeClickAndHoldMs" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="fixationRadiusForHoverMm" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="fixationDurationForHoverMs" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="fixationMinCursorActiveMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cursorAlwaysFollowsGaze" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixationClickAndHoldEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playGazeRecording" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideCursorDuringGaze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="precisionGazeMouseFormRefreshCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gazePointLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="largeSaccadeThresholdMm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="calibrationCircleSizeMm" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="calibrationIterationTimeMs" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="calibrationIterationCountMax" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="calibrationCompletedThresholdMm" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="dataCaptureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dataCaptureSecondsToKeep" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="screenCaptureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="automaticErrorNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dockEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dockFixateToSelectEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dockButtonFixationMs" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="dockFormMaxWidthMm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="dockButtonHeightMm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="onscreenKeyboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onscreenKeyWidthMm" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="onscreenKeyHeightMm" serializeAs="String">
                <value>25</value>
            </setting>
        </PrecisionGazeMouse.Properties.Settings>
        <PrecisionGazeMouse.Settings>
            <setting name="zoomboxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cursorMagnetEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursorMagnetClippingThresholdMm" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="cursorMagnetClippingExitThresholdMm" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="cursorMagnetClippingExitDurationMs" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="cursorMagnetClippingChangeBoxIntoPerc" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cursorMagnetClippingMinBoxWidthMm" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="mouseMovementEyeGazeResumeMilliseconds" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="keyboardEyeGazeResumeMilliseconds" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="zoomboxSticky" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomWindowPctScreen" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="zoomWindowMagnificationPct" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="zoomboxGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomboxZoomAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomboxZoomAgainAfterMs" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="fixationMinDurationMs" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="fixationRadiusClickAndHoldMm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="fixationDurationClickAndHoldZoombox" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="fixationInitTimeClickAndHoldMs" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="fixationRadiusForHoverMm" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="fixationDurationForHoverMs" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="fixationMinCursorActiveMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cursorAlwaysFollowsGaze" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixationClickAndHoldEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="playGazeRecording" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideCursorDuringGaze" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="precisionGazeMouseFormRefreshCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gazePointLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="largeSaccadeThresholdMm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="calibrationCircleSizeMm" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="calibrationIterationTimeMs" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="calibrationIterationCountMax" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="calibrationCompletedThresholdMm" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="dataCaptureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dataCaptureSecondsToKeep" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="screenCaptureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="automaticErrorNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dockEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dockFixateToSelectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dockButtonFixationMs" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="dockFormMaxWidthMm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="dockButtonHeightMm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="onscreenKeyboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onscreenKeyWidthMm" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="onscreenKeyHeightMm" serializeAs="String">
                <value>25</value>
            </setting>
        </PrecisionGazeMouse.Settings>
    </userSettings>
</configuration>